<style type="text/css">

div.absolute {
    position: absolute;
    bottom: 545px;
    width: 200px;
    height: 100px;
    border: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 75px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #202020;
    padding: 9px 15px 9px 15px;
	font-size: 17px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #395870;
    color: white;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

.container {
    margin: 0 auto;
    padding: 0;
    width:100%;
}

table  { 
	width: 50%;
}

th { 
	padding: 5px 5px; background: #395870;
	color: #fff;
}

td { 
	border: 1px solid #cecfd5;
	padding: 4px 4px;
}

tbody tr:nth-child(even) { 
	background: #f0f0f2;
}

</style>
<ul>
	<h4>
		<li><a href="/">Home</a></li>
	</h4>
</ul>
<table border>

{% if virtualip %}
    <p>Found {{ virtualip|length }} host{{ virtualip|pluralize }} having virtual ip addresses as assigned.</p>
	<ul>
		<tr><th>Hostname</th><th>Virtual IP Address</th></tr>
			{% for host, vip in virtualip.items %}
			<tr>
				<td>{{ host }}</td>
				<td width="77%">{{ vip }}</td>
			</tr>
			{% endfor %}
	</ul>
{% else %}
    <p>No host matched your search criteria.</p>
{% endif %}
</table>
